#title {
  font-weight: bold;
  font-style: italic;
  color: #00FF00
  width: 150px;
  height:50px;
  border: 1px solid #333;
  font-family: 'Cinzel',ariel;
  font-size: 20px;
  cursor: crosshair;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  justify-content: center;
  z-index: 0;
  transition: 1s;
  box-sizing: border-box;
  padding: 10px;
  display: inline-block;
  text-align: center;
}
